.header-title-container {
	display: flex;
    flex-direction: column;
	align-items: flex-start;
	padding-top: 10px;
	height: 100px;
    padding-left: 25px;
}

/*Not available in mentor board  */
/*.goals-table-container {
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}*/


.goals-list-table {
	background-color: rgb(248, 247, 245);
}

.plans-cell-header {
	background-color: cornsilk;
}

.graduate-name-cell {
	width: 25%;
}

.request-date-cell {
	width: 20%;
}

.plan-name-cell {
	width: 50%;
}

.email {
	padding-left: 25px;
	color: black;
}

.drop-down {
	background-color: yellow;
	flex: 1;
	order: 2;
}

.plan_id {
	background-color: transparent;
	border: none;
	outline: none;
}

@media (max-width: 960px) {
	.grid-container {
		justify-content: center;
		padding-top: 20px;
	}
	.gridItem {
		margin-bottom: 100px;
	}
}

@media (min-width: 960px) {
	.grid-container {
		justify-content: space-between;
		padding: 20px;
	}
}
