.header-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 20px;
	height: 150px;
    background-color:rgb(226, 226, 226);
}

.header-container h1 {
	margin-left: 5%;
}

.goals-table-container {
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.plans-table-container {
	margin-top: 20px;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
}

.logout-button-container {
	height: 50%;
	width: 50%;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
}

.create-plan-button {
	display: flex;
	justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
