@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rajdhani:wght@700&display=swap');

.tab-container{
    width:200px;
}

/*.tab{
    justify-content: space-between;
}*/

.tab{
    width:50%;
    text-align: center;
    padding: 20px;
}

.tabs-container{
justify-content: center;
}

.cyf-image{
 width: 700px;
 height: 600px;
}


.main{
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-wrapper{
text-align: right;
    flex: 1;
}

.title{
  text-align: left;
    flex: 1;
    color: rgb(100, 97, 97);
    
}

.title h1{
    text-align: left;
    font-size: 5rem;
    font-family: 'Rajdhani', sans-serif;
}

.txt-slogen{
   font-size: 1.5rem;
    color: rgb(165, 162, 162);
    font-family: 'Rajdhani', sans-serif;
    line-height: 2rem;
}

.dev{
    color: rgb(214, 13, 29);
}


.footer{

    text-align: center;
    background-color: rgb(143, 138, 138);
    color: rgb(224, 216, 216);
   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

}


@media(max-width: 768px) {

    .main{
        flex-direction: column;
        
    }

    
   
  }

