.feedback-container{
   
    
    background-color: yellowgreen;
  
}
.plan-name{
background-color: rgb(250, 246, 245);
text-align: center;

}
.feedback-status{
background-color: yellow;

}



h2{
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

li{
    padding-top: 8px;
}

h1{
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 10px;
}

.red{
    color: red;
    
}

.green{
color: green;
font-size: 3rem;
}