.footer-container {
	background-color: rgb(226, 226, 226);
	margin-top: 80vh;
	padding: 2%;
    margin-bottom: -10;
	width: 100%;
    color: rgb(124, 120, 120);
	text-align: center;
    height: 60px;

}
